body{
    background-color: antiquewhite;
    margin: 30px;
    padding: 0px;
}

.lead{
    color: brown;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides{
    display: none;
    align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: blue;
  font-size: 30px;
  padding: 10px;
  position: absolute;
  bottom: 15px;
  
  left: 550px;
  background-color: #717171;
  margin-right: 50px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


a{
    text-decoration: none;
    color: whitesmoke;
    position: relative;
}

button{
    background-color: blue;
    border: none;
    padding: 5px;
    margin: 2px;
    cursor: pointer;

}

option{
    border-left: 5px;
    background-color: lightslategray;
    display: block;

}

option:hover{
    color: palevioletred;
}

.order{
    background-color: red;
}

.around{
    background-color: green;
    margin: 10px;
}

.co{
    color: blue;
}



.navbar {
    margin: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    padding: 0px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    margin: 100px;
    
}

.dropdown {
    float: left;
    overflow: hidden;
    margin: 100px;
    padding: 0px;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    padding: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 0px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cafes{   
    display: none;
    left: 50%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

spot.hover .cafes{
    display: block;
}


.spot{
    position: absolute;
    left: 50%;
    margin: 100px;
    overflow: hidden;
}

.forspot{
    margin: 0px;
    
}

.spot .forspot{
    color: white;
    font-size: 16px;
    font-family: inherit;
    padding: 0px;
    border: none;
    outline: none;
    background-color: inherit;
}

.cafes a {
    float: none;
    color: black;
    padding: 0px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.cafes a:hover{
    background-color: #ddd;
}

.spot:hover .cafes{
    display: block;
}

.navbar a:hover, .spot:hover .forspot {
    background-color: red;
    padding: 0px;
}

option{
    cursor: pointer;
    color: white;
}

form{
    width: 20%;
    padding: 20px;
    text-align: center;
    background-color: gray;
}

.order{
    margin: 0%;
    overflow: hidden;
    position: relative;
    width: 11%;
}

.order .orderli{
    border: none;
    padding: 6px;
    background-color: inherit;
    font-size: 16px;
    text-shadow: black;
    outline: none;
}


.variety{
    display: none;
    position: relative;
    z-index: 1;
    color: white;
}

.order:hover .variety{
    display: block;
}

.variety a:hover{
    background-color: white;
}

.variety a{
    float: none;
    color: white;
    padding: 0px;
    text-decoration: none;
    display: block;
    text-align: left;
}

a{
    color: white;
}


